extend layout
block content
  p
    img(src="images/me1.JPG" align="right" width= "250" height= "300")
    |Hello, My name is Zach and I like writing API's and drinking IPAs. I am a Full Stack
    |Engineer mainly interested in Backend Web Platforms and Cloud Computing.
    |Also interested in Internet of Things technologies, big data analytics and mobile app development.
    |If you troubled by this ugly website
    | design, don't worry I am just a backend engineer dabbling
    | where I probably shouldn't.  
  p
    |... but wait, that does not mean that I dislike web design, or mastering every level of the stack,
    | my creativity just lies elsewhere. This site was made to become a simple portfolio for my work, while
    | also giving me experience with cloud hosting, node, express and the other goodies inbetween.
