extend layout
block content
  p
    img(src="images/me.jpg" align="right" width= "250" height= "250") 
    |Hello, My name is Zach and I like writing API's and drinking IPAs. I am a Full Stack 
    |Engineer mainly interested in Backend Web Platforms and Cloud Computing. 
    |Also interested in Internet of Things technologies, big data analytics and mobile app development. 
  p
    | More coming soon...
