<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | About Me</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
  </head>
  <body>


    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="http://wachstechblog.me/">Blog</a></li>
          <li><a href="http://wachstechblog.me/aboutme">About Me</a></li>
          <li><a href="http://wachstechblog.me/contact">Contact</a></li>
          <li><a href="ZacharyWachtelResume.pdf">Resume</a></li>
        </ul>
      </div>
    </div>


<div class="neat-article-container">
  <div class="row large-8 columns align-center">
    <div class="neat-article-header">
      <div class="article-header-avatar">
        <img class="header-avatar" src="/images/me1.JPG">
      </div>
      <div class="article-header-author">
        <p class="author-name">
          Zachary Wachtel
        </p>
        <p class="author-description">
          Full Stack Developer. Software Engineer Intern @Qualcomm!
        </p>
        <p class="article-date-read"> June, 2017 - 5 min read</p>
      </div>
    </div>
    <div class="neat-article-title">
      <h3 class="article-title">
        “UNIX is basically a simple operating system, but you have to be a genius to understand the simplicity.”
      </h3>
    </div>
  </div>
  <div class="neat-article-image">
    <img class="article-image" src="https://i.imgur.com/0buQ75a.jpg" alt="Space">
  </div>
  <div class="row neat-article-content">
    <div class="small-2 large-2 columns" data-sticky-container>
      <div class="sticky article-social" data-sticky data-anchor="sticky1" data-sticky-on="small">
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="#"></a>
          <a class="social-button twitter" href="#"></a>
          <a class="social-button google-plus" href="#"></a>
        </div>
      </div>
    </div>
    <div class="small-10 large-8 columns" id="sticky1">
      <div class="article-content">
        <p>
          Zachary Adam Wachtel is a Software Engineer expecting to gain full employment in the field post-graduation. His interests range from the fascinating growing industry of connected devices and the Internet of Things to cloud computing and the infrastructure of modern web applications (cloud databases, APIs, frontend integration, etc.).
        </p>
        <p>
          Zachary formerly worked at Keen Home, a company whose product, the Smart Vent, allows for customers to regulate the airflow of their homes from their smartphones. At Keen Home, he played a key role in the testing and verification of the Smart Vent and Smart Bridge. Also, Zach developed and deployed an important set of tools which allowed for the company to automate most of the customer support techniques. Currently, he is a spending his summer with Qualcomm, as a Software Engineering intern.
          In his spare time, Zach often loves to tinker with new technologies and spends his time creating side projects which you can check out on his github.
        </p>
        <p>
          Zach is a diligent young man with an intensive passion for software. He loves problem-solving oriented work and has a hunger for knowledge, especially in the software field.
        </p>
        <p>
          He is currently pursuing a double major in Computer Engineering and Computer Science with a certificate in mathematics at the University of Wisconsin-Madison. He is proficient in many programming languages, frameworks, and technologies vastly ranging from low-level C to React-Native javascript frameworks. He is expecting to graduate fall 2017 and is pursuing full employment in the Software industry.
        </p>

      </div>
    </div>
  </div>

</div>
