<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | About Me</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
  </head>
  <body>


    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="http://wachstechblog.me/">Blog</a></li>
          <li><a href="http://wachstechblog.me/aboutme">About Me</a></li>
          <li><a href="http://wachstechblog.me/contact">Contact</a></li>
          <li><a href="ZacharyWachtelResume.pdf">Resume</a></li>
        </ul>
      </div>
    </div>

    <footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">Zachary Wachtel</h4>
      <p>For inquiries contact me</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
       <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p><a href="https://www.linkedin.com/in/zachary-wachtel-475547111/">LinkedIn</a></p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p><a>1 (516) 516-287-2793</a></p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p><a href="mailto:zwachtel11@gmail.com">zwachtel11@gmail.com</a></p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title"></h4>
      <div class="row small-up-3">
        <div class="column column-block">

        </div>
        <div class="column column-block">

        </div>
        <div class="column column-block">

        </div>
        <div class="column column-block">

        </div>
        <div class="column column-block">

        </div>
        <div class="column column-block">
        </div>
      </div>
    </div>
  </div>
</footer>
