extend layout
block content
  img(src="images/space.jpg" align="middle")
  p
    | Hello, my name is Zach Wachtel.
    | This is my site and I am working on it
    | to gain experience as an engineering
    | student
  p
    | More coming soon...
