extend layout
block content
  p
    | Hello, my name is Zach Wachtel.
    | This is my site and I am working it
    | to gain experience as an engineering
    | student
  p
    | More coming soon...
block sidebar
  .widget
    h1 More to come...
