extend layout
block content
  header
    h1 #{header1} Welcome to Wach's Tech Blog
  img(src="images/space.jpg")
  p
    | Hello, my name is Zach Wachtel.
    | This is my site and I am working on it
    | to gain experience as an engineering
    | student
  p
    | More coming soon...
