extend layout
block content
  p
    img(src='/images/melo.jpeg')

    | Hello, my name is Zach Wachtel.
    | This is my site and I am working on it
    | to gain experience as an engineering
    | student
  p
    | More coming soon...
