extend layouth
block content
  p
    | Hello, my name is Zach Wachtel.
    | This is my site and I am working on it
    | to gain experience as an engineering
    | student. If you troubled by this ugly website 
    | design, don't worry I am just a backend engineer dabbling
    | where I probably shouldn't.
  p
    | Click About for my Bio!!
