<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/foundation.css">
  </head>
  <body>

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="http://wachstechblog.me/">Blog</a></li>
          <li><a href="http://wachstechblog.me/aboutme">About Me</a></li>
          <li><a href="http://wachstechblog.me/contact">Contact</a></li>
          <li><a href="ZacharyWachtelResume.pdf">Resume</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>Wach's Tech Blog</h1>
        <h2 class="subheader">The personal blog of Zachary Wachtel</h2>
      </div>
    </div>

    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>More about me and my interests...</h3>
        <a href="http://wachstechblog.me/aboutme">
        <img class="thumbnail" src="/images/earth.jpg">
        </a>
        <p>Zachary Adam Wachtel is a Software Engineer expecting to gain full employment in the field post-graduation. His interests range from the fascinating growing industry of connected devices and the Internet of Things to cloud computing and the infrastructure of modern web applications (cloud databases, APIs, frontend integration, etc...</p>
      </div>

      <div class="blog-post">
        <h3>My Github</h3>
        <a href="https://github.com/zwachtel11">
        <img class="thumbnail" src="/images/gh.png">
        </a>
        <p>I enjoy writing API's and drinking IPAs. Click to check out my various contributions and projects! Projects range from embedded to web, mobile to desktop, C to javascript. Check it out!</p>
      </div>

      <div class="blog-post">
        <h3>Fin-Tech Paper</h3>
        <a href="https://medium.com/@zachwachtel/finance-moving-sharpe-ratio-algorithm-b9fc9a8c2644">
        <img class="thumbnail" src="/images/ftt.jpeg">
      </a>
        <p>This a paper I wrote for my financial engineering class ... dabbling in the world of algo-trading ...There is a common perception that engineers have an intensive obsession with numbers and math. Non-engineers, in my experience, hold the common belief that this love of numbers only applies to development of tangible objects and items or the creation of abstract theories.
 </p>
      </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
