extend layout
block content
  p
    | Hello, my name is Zach Wachtel.
    | This is my site that I am working on
    | for experience as an engineering student
  p
    | More coming soon...
    |
    |
    |
    |

block sidebar
  .widget
    h1 More to come...
    p
      |
      |
    p
      |
      | 
