extend layout
block content
  div(style='background-image: url(images/space.jpg);')
  img(src="images/space.jpg")
  p
    | Hello, my name is Zach Wachtel.
    | This is my site and I am working on it
    | to gain experience as an engineering
    | student
  p
    | More coming soon...
