/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Monoton|Space-Mono')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
 .menusection
  transition all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55)
  background-color rgba(black, 0.85)
  position absolute
  z-index 1000
  font-size 24px

.showmenu
  position fixed
  right 10px
  top 10px
  cursor pointer
  z-index 100

.icons8-Menu
  width 40px
  path
    fill red
    stroke steelblue

nav
  ul
    display block
    padding 0
    li
      display block
      text-align center
      padding 0.5rem 0rem
      margin 0
      a
        color #999
        text-decoration none
        font-weight bold
        &:hover, &:active
          color #FFF
section
  width 90%
  margin-left 5%
  h1
    line-height 3em
  p
    /* width 90% */
    line-height 1.6em
    letter-spacing 0.075em
    color #333
  h1, p
    margin auto
    padding 1rem

// Drop Top
@media screen and (min-width: 391px) and (max-width: 400px)

  .menusection
    width 100%
    padding 10rem 0rem 1rem 0rem
    top -1000px
    &.show
      top -10rem
// Slide Left
@media screen and (max-width: 390px)
  .menusection
    width 80%
    height 100%
    max-width 340px
    padding 0.5rem 0rem 0.5rem 0rem
    left -330px
    &.show
      left -2rem
// Standard
@media screen and (min-width: 401px)
  .showmenu
    display none
  .menusection
    width 100%
    background-color #CCC
    padding 0.5rem 0rem
    position relative

  nav
    max-width 1200px
    margin 0 auto
    padding 1rem 0
    width 90%
    margin-left 5%
    ul
      margin 0
      li
        display inline
        padding 0.5rem 1rem 0.5rem 0
        font-size 18px
        a
          &:hover
            color #333
  section
    max-width 1200px
    margin 0 auto
    /* h1, p */
main-color = #FFF
background-color = #FFF

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Monoton'
  padding 50px 10px
  color #000
  font-size 40px
  text-align center
  background-color main-color
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 1000px
  margin 25px auto
  overflow hidden

.main-content
  float left
  width 1000px
  h1
    font-family 'Space+Mono'
    font-size 20px
    font-weight bold
    margin-bottom 20px
    margin-left 75px
  img
    margin-left 75px
    vertical-align middle
  p
    margin-left 75px
    margin-bottom 20px

.sidebar
  float left
  width 200px
p
  line-height 1.8

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
