/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Monoton|Space-Mono");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
.menusection {
  -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: rgba(0,0,0,0.85);
  position: absolute;
  z-index: 1000;
  font-size: 24px;
}
.showmenu {
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
}
.icons8-Menu {
  width: 40px;
}
.icons8-Menu path {
  fill: #f00;
  stroke: #4682b4;
}
nav ul {
  display: block;
  padding: 0;
}
nav ul li {
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0;
}
nav ul li a {
  color: #999;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover,
nav ul li a:active {
  color: #fff;
}
section {
  width: 90%;
  margin-left: 5%;
}
section h1 {
  line-height: 3em;
  border-bottom: 1px solid #e1e1e1;
}
section p {
/* width 90% */
  line-height: 1.6em;
  letter-spacing: 0.075em;
  color: #333;
}
section h1,
section p {
  margin: auto;
  padding: 1rem;
}
@media screen and (min-width: 391px) and (max-width: 400px) {
  .menusection {
    width: 100%;
    padding: 10rem 0rem 1rem 0rem;
    top: -1000px;
  }
  .menusection.show {
    top: -10rem;
  }
}
@media screen and (max-width: 390px) {
  .menusection {
    width: 80%;
    height: 100%;
    max-width: 340px;
    padding: 0.5rem 0rem 0.5rem 0rem;
    left: -330px;
  }
  .menusection.show {
    left: -2rem;
  }
}
@media screen and (min-width: 401px) {
  .showmenu {
    display: none;
  }
  .menusection {
    width: 100%;
    background-color: #ccc;
    padding: 0.5rem 0rem;
    position: relative;
  }
  nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
    margin-left: 5%;
  }
  nav ul {
    margin: 0;
  }
  nav ul li {
    display: inline;
    padding: 0.5rem 1rem 0.5rem 0;
    font-size: 18px;
  }
  nav ul li a:hover {
    color: #333;
  }
  section {
    max-width: 1200px;
    margin: 0 auto;
/* h1, p */
  }
}
body {
  font-family: 'Georgia';
  background-color: #fff;
  color: #444;
}
header {
  font-family: 'Monoton';
  padding: 50px 10px;
  color: #000;
  font-size: 40px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fff;
  text-shadow: 0px -1px 0px #b3b3b3;
}
.container {
  width: 1000px;
  margin: 25px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 1000px;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Space+Mono';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
